header{
    background-color: #bbbbbb;
    padding: 20px 0; /* 20 px para cima e para baixo e nada para os lados*/
}

.caixa {
    width: 940px;
    position: relative;     /* levantando a importancia dentro do codigo para a caixa */
    margin: 0 auto;   /* 0 para cima e para baixo e para os lados automaticamente (melhor jeito para centralizar uma div*/
}

.titulo-principal{
    padding-left: 20px;
    font-size: 45px;
    position: absolute;  
    top: 20px;
    right: 0;
}

nav{
    position: absolute;   /* abrindo a possibilidade de mover os itens dentro da .caixa */
    top: 110px;
    right: 0;
}

nav li{
    display: inline;
    margin: 0 0 0 15px;
}

nav a{
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover {
    color: #c78c19;
}

.produtos{
    width: 940px;   
    margin: 0 auto;
    padding: 50px 0;
}

.produtos li{
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px solid #000000;
    border-radius: 10px;
}

.produtos li:hover {
    border-color: #c78c19;
}

.produtos li:active {
    border-color: #088c19;
}

.produtos li:hover h2 {
    border-color: #c78c19;
    font-size: 31px;
}

.produtos h2{
    font-size: 30px;
    font-weight: bold;
}

.produto-desc{
    font-size: 18px;
}

.produto-preco{
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
}

footer{
    text-align: center;
    background: url(imagens/bg.jpg);
    padding: 40px 0;
}

.copyright{
    color: antiquewhite;
    font-size: 13px;
    margin: 20px;
}


main {
    width: 940px;
    margin: 0 auto;
}

form{
    margin: 40px 0;
    
}

form label, form p{
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}

.input-padrao{
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 30%;
}

.horario{
    margin-top: 20px ;
}

.checkbox {
    margin: 20px 0;
}

